<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts Prototype</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">

 <!--  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="../../reset.css">
  <link rel="stylesheet" type="text/css" href="list.css">
  <script src="../../app/libs/components/threads/threads.js"></script>
  <script src="list.js"></script>
</head>
<body>
  <div id="settings-button">
  </div>
  <ul>
  </ul>
</body>
</html>
