body, html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', 'Raleway', sans-serif;
  font-weight: 300;
  background: white;
  overflow: hidden;
  background: url(background.png);
}

ul {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}

ul.no-events {
  pointer-events: none;
}

li {
  position: relative;
  float: left;
  width: 50%;
  height: 20rem;
  box-sizing: border-box;
}

li div{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .3s ease;
  background: #ccc;
  font-size: 3rem;
  line-height: 20rem;
  font-size: 9rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.background-image {
  background-size: 210% auto;
  background-position: center;
}

li div.selected {
  z-index: 20;
}

li div.move-me {
  transition: all .2s ease;
  width: 200%;
  background-size: 140% auto;
}

#settings-button {
  position: fixed;
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  bottom: 2rem;
  left: calc(50% - 4rem);
  z-index: 30;
  background-color: red;
  background-image: url('settings.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s ease;
}

#settings-button.rotate {
  transform: rotate(90deg);
}
