body, html {
  width: 100%;
  height: 100%;
  min-width: 200px;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans','Raleway', sans-serif;
  background: white;
  overflow: hidden;
}

.panel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
